//  Settings
//  -----------------------------

//  Color
$color-text: #000000;
$color-headings: #cccccc;
$color-link: #eeeeee;

// Font family
$font-family-import: 'Arial';
$font-family-import-blockquote: 'Helvetica';
